<ion-header style="background: transparent">
	<ion-navbar>
		<button (click)="closeMenu()" ion-button menuToggle style="color:green">
			<ion-icon name="menu" style="color:green"></ion-icon>
		</button>
		<ion-title>
			<span style="color:green">د کوچنیانو کتابونه</span>
		</ion-title>

		<ion-buttons end>
			<button ion-button icon-only color="royal" (click)="showItemList()">
				<ion-icon name="md-arrow-round-back"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding style="background-image: url('assets/imgs/bg_home.jpg');background-attachment: fixed;background-position: center;background-repeat: no-repeat;background-size: cover;">


	<div *ngIf="showList" style="display: flex;flex-direction: row;flex-wrap: wrap; justify-content:center; align-items:center;height: 460px;overflow: auto;">
		<!-- <ion-list>
			<button ion-item *ngFor="let book of books; let i = index" (click)="itemSelected(i)">
				{{ book.name }}
			</button>
		</ion-list> -->


		<div *ngFor="let book of books; let i = index" (click)="itemSelected(i)">
			<div class="card1">
				<img src="assets/bookTitle/book {{i+1}}.png" />
				<div style="color:black;display:flex; 
				justify-content:center; 
				align-items:center;">{{book.name}}</div>

			</div>
		</div>


	</div>


	<div *ngIf="!showList">

		<!-- <pdf-viewer [src]="bookLocation" [render-text]="true" [original-size]="false" [zoom]="1.0" [fit-to-page]="true" [autoresize]="true"
		 style="display: block;"></pdf-viewer> -->



		<div style="display: flex;
		justify-content: center">
			<img [src]="bookLocation" (swipe)="tapEvent($event)" style="height: 358px;">
		</div>


		<ion-list *ngIf="showplay">
			<audio-track #audio *ngFor="let track of myTracks" [track]="track" (onFinish)="onTrackFinished($event)">
				<ion-item style="background: transparent;border-bottom-color: transparent">
					<ion-thumbnail item-left>

						<audio-track-play dark [audioTrack]="audio">
							<ion-spinner></ion-spinner>
						</audio-track-play>
					</ion-thumbnail>
					<div item-content style="width:100%">

						<audio-track-progress-bar dark duration progress [audioTrack]="audio" [ngStyle]="{visibility: audio.completed > 0 ? 'visible' : 'hidden'}"></audio-track-progress-bar>
					</div>
				</ion-item>
			</audio-track>
		</ion-list>





	</div>

	<!-- <h1>welcome to the home page</h1>
	<ion-list>
		<button ion-item (click)="itemSelect()">
			list 1
		</button>
		<button ion-item (click)="itemSelect()">
			list 1
		</button>
		<button ion-item (click)="itemSelect()">
			list 1
		</button>

	
	</ion-list> -->
	<!-- <ion-menu [content]="mycontent">
		<ion-content>
			<ion-list>
				<p>some menu content, could be list items</p>
			</ion-list>
		</ion-content>
	</ion-menu> -->

	<!-- <ion-nav #mycontent [root]="rootPage"></ion-nav> -->
	<!-- <button ion-button (click)="previousPage()">Previous</button>
	<button ion-button (click)="nextPage()">Next</button>
	<p>{{pla}}</p> -->

	<!-- <iframe *ngIf="pdfLink" [src]="pdfLink" width="100%" height="100%" frameborder="0" ></iframe> -->

	<!-- <audio-track #audio *ngFor="let track of myTracks"  [track]="track" (onFinish)="onTrackFinished($event)">
		<ion-item>  
		  <ion-thumbnail item-left>
			<img src="{{audio.art}}">
			<audio-track-play dark [audioTrack]="audio"><ion-spinner></ion-spinner></audio-track-play>  
		  </ion-thumbnail>
		  <div item-content style="width:100%">
			<p><strong>{{audio.title}}</strong> ⚬ <em>{{audio.artist}}</em></p>
			<audio-track-progress-bar dark duration progress [audioTrack]="audio" [ngStyle]="{visibility: audio.completed > 0 ? 'visible' : 'hidden'}"></audio-track-progress-bar>
		  </div>
		</ion-item>    
	  </audio-track> -->




	<!-- <div #viewerContainer class="viewer-container">
		<div #viewer class="viewer">
			<ng-container #pagesContainer>
				<div #pageContainer class="page" [style.width.px]="pageContainerUnique.width" [style.height.px]="pageContainerUnique.height">

					<div class="canvas-wrapper" #canvasWrapper>
						<canvas class="page-canvas" #canvas></canvas>

					</div>
					<div #textContainer class="text-layer selectable">
					</div>
				</div>
			</ng-container>
		</div>
	</div> -->


</ion-content>




<!-- <ion-content padding>
	
</ion-content> -->